:root {
    --color-primary: #e15f41;
    --color-secondary: #fff;
    --color-tertiary: #ffeae6;

    --font-primary: "Roboto", serif;
    --font-secondary: "Pacifico", serif;
}

body {
    font-family: var(--font-primary);
}

.navbar, footer {
    background-color: var(--color-primary);
}

#cabecalho .nav-pills .nav-item .nav-link.active {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

#cabecalho .nav .nav-link,
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
#cardapio .nav-pills .nav-link.active:hover,
footer h6 {
    color: var(--color-secondary);
}

.section_title {
    font-family: var(--font-secondary);
}

.text_colored {
    color: var(--color-primary);
}

.navbar-toggler {
    background-color: var(--color-secondary);
}

#sobre_restaurante,
#cardapio {
    background-color: var(--color-tertiary);
}

#cardapio .nav-pills .nav-link.active,
#fale_conosco button {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

#cardapio .nav-pills .nav-link:hover {
    color: var(--color-primary);
}

.social_links li {
    display: inline;
    list-style: none;
}

.social_links a {
    text-decoration: none;
}

.error {
    color: #f00;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

@media (max-width: 991px) {
    .element_margin {
        margin-top: 15px;
    }
}
